@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body{
    margin: 0;
    background-image: url("/img/bg.jpg");
    font-family: Nunito, sans-serif;
    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-weight: 400;
    height: 110vh;
    overflow-x: hidden;
}

.container{
    background-color: rgba(0, 0, 0, 0.6);
    height: 110vh;
    overflow: hidden;
    display: flex;
}

.navbar{
    padding: 60px 140px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.navbar img{
    height: 30px;
}

.nav{
    color: white;
    padding: 0px 501px;
}

.nav ul{
    display: flex;
    flex-direction: row;
}

.nav li{
    list-style: none;
    padding: 0px 12px
}

.nav a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: 700;
}

.nav a:hover{
    color: rgb(89, 82, 185);
    font-size: 14px;
}

.container h1{
    color: white;
    position: absolute;
    top: 50%;
    left: 26%;
    font-family: Nunito, sans-serif;
    font-size: 54px;
    width: 100%;
}

.container p{
    position: absolute;
    color: white;
    top: 65%;
    left: 24%;
    text-align: center;
    font-size: 20px;
}

.the_first{
    position: absolute;
    top: 80%;
    left: 38%;
    width: 13%;
    padding: 14px;
    border-radius: 5px;
    background-color: skyblue;
    color: rgb(255, 254, 254);
    cursor: pointer;
    transition: 0.4s;
    border: none;
}

.the_first:hover{
    background-color: rgb(71, 60, 60);
}

.the_second{
    position: absolute;
    top: 80%;
    left: 53%;
    width: 13%;
    padding: 14px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid skyblue;
}

.the_second:hover{
    background-color: skyblue;
}



/* .left, */
.right {
    width: 16px;
    height: 15px;
    transition: .5s;
    float: left;
    position: absolute;
    top: 100%;
    left: 50%;
    box-shadow: -4px 4px 0 rgb(255, 255, 255);
    cursor: pointer;
}

/* .left {
    transform: rotate(-23deg);
} */

.right {
    transform: rotate(312deg);
}

.right:hover{
    box-shadow: -4px 4px 0 skyblue;
}

.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Nunito, sans-serif;
    color: #333;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.italic-text{
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
}

.line-border{
    display: block;
    width: 70px;
    height: 2px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #4d8cf5;
}

.grid{
    display: flex;
}

.para-text{
    align-self: center;
    max-width: 50%;
    flex-basis: 50%;
    font-size: 15px;
    padding: 125px;
}

.grid img{
    /* height: 425px; */
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}